<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <title>Guests List</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>

    <div style="margin: 50px">
        <form class="form-inline" method="POST" th:object="${guest}" th:action="@{/guests}" style="margin: 20px 0">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" th:field="*{name}">
                <input type="text" class="form-control" placeholder="Number of companions" th:field="*{numberCompanions}">
                <button type="submit" class="btn btn-success">ADD</button>
            </div>
        </form>
        <div>
            <h1 class="panel-title">Guests List</h1>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Companions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="guest : ${guests}">
                        <td th:text="${guest.name}"></td>
                        <td th:text="${guest.numberCompanions}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>